* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
#checkPrivacyPolicy {
  background: #ffffff;
  border-radius: 4px;
  border: none;
}
.containerInfoCards {
  width: 70%;
}
.blueColorText {
  color: blue;
}
.contentText {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #676767;
}
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid #e8e8e8;
  text-align: left;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  border-radius: 32px;
  margin-top: 5px;
}
.active,
.collapsible:hover {
  color: #7cb92f;
  background-color: #f3f3f3;
}
.active,
.collapsible::after {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #7cb92f;
}
.collapsible:after {
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 10px;
  padding-right: 10px;
}

.active:after {
  content: "\2212";
  color: #7cb92f;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #f3f3f3;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

/* //  form */
.formCheckin {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.form {
  background: #f3f3f3;
  border-radius: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 85%;
  margin-left: 10%;
}
#fieldMessage {
  padding-left: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 13px;
  width: 75%;
  height: 100px;
}
.inputName {
  margin-right: 10px;
  padding-left: 10px;
  border: none;
  height: 48px;
  width: 35%;
  border-radius: 13px;
}
.inputEmail {
  padding-left: 10px;
  border: none;
  height: 48px;
  width: 35%;

  border-radius: 13px;
}
.containerSendMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-direction: column;
}
.containerfields {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.formFields {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.containerCheckBox {
  width: 95%;
}
#formSpan {
  font-family: "Acme";
  font-size: 16px;
  margin-top: 15px;
  padding-left: 25px;
}
#formH4 {
  text-align: center;
  font-weight: bolder;
  color: #7cb92f;
  margin-top: 15px;
}
#formH5 {
  text-align: center;
  margin-top: 25px;
}
.textCapcha {
  font-size: 10px;
}
.linkCapcha {
  color: #7cb92f;
}
#linkPrivacyPolicy {
  color: #7cb92f;
}
.btnSend {
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 50%;
  color: white;
  background: linear-gradient(180deg, #a6e25a 0%, #7cb92f 100%);
  border-radius: 13px;
}

/* /// */

.textEmail {
  margin-top: 1%;
}
.textContacts {
  font-family: Medium;
}
#textContacts1 {
  margin-top: 1%;
  font-size: 16px;
}
.containerCallBackData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ///tablets */

@media only screen and (min-width: 600px) and (max-width: 1020px) {
  .mainContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .containerInfoCards {
    width: 100%;
  }
  .formCheckin {
    background: #f3f3f3;
    border-radius: 25px;
    display: flex;
    width: 100%;
  }
}
/* ///phone */

@media only screen and (max-width: 600px) {
  .mainContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .containerInfoCards {
    width: 100%;
  }
  .formCheckin {
    background: #f3f3f3;
    border-radius: 25px;
    display: flex;
    width: 100%;
  }
}
