/* ///Header */
.btnHeader {
  border: none;
  height: 45px;
  width: 8%;
}
.bodyBackgroundColor {
  background-color: #f7f7f7;
}
.containerSelectLanguageHeader {
  position: absolute;
  top: 5px;
  left: 95%;
  display: flex;
  justify-content: end;
  border: none;
}
.containerTitileAndImageContact {
  display: flex;
}
.containerTitileAndImageContact > * {
  padding-left: 5px;
}
.selectLanguageHeader {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5.5px);
  border-radius: 29px;
}

.p-top {
  margin-top: 5px;
}

.backgroundHeader {
  background: rgba(147, 219, 57, 0.13);
}
.numberPhone {
  font-size: 10px;
  width: 9%;
}
.lessonComplex {
  font-size: 13px;
  width: 18%;
}
.containerBtnCallBack {
  display: flex;
  margin-left: 10px;
}

.text {
  display: block;
  width: 200px;
  padding-top: 5%;
  padding-right: 5%;
  background-color: rgb(155, 206, 104);
  border-radius: 0px 21px 21px 0px;
}
.nameCompany {
  color: #8db92f;
  font-size: 95px;
  padding-top: 20px;
  font-weight: 600;
  font-family: "Fredoka", sans-serif;
  margin: 0px 0px;
}
.firstBtn {
  border-radius: 10px 0px 0px 10px;
  width: 150px;
}
.img {
  background-color: #7cb92f;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  margin-top: 0px;
}
.imgBtnCallBack {
  width: 15px;
  margin-top: 7px;
}
.callBack {
  height: 40px;
  padding-top: 10px;
  width: 170px;
}
.containerCallBack {
  border: none;
  border-radius: 0px 50px 50px 0px;
  width: 180px;
  height: 45px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
}
.containerImgHeader {
  background-color: rgb(155, 206, 104);
  width: 50px;
  border-radius: 20px 0px 0px 20px;
}

.Header {
  margin-left: 20%;
  background: #fbfbfb;
}
/*////////*/

/* //contactsPage */
.miniMap {
  height: 95%;
  width: 95%;
  margin-top: 1.5%;
  margin-left: 3%;
}
.textMap {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #363734;
}
.meterAmount {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #676767;
}
.containerMeterAmount {
  display: flex;
  justify-content: center;
}
.imgsMapIconMeter {
  height: 5px;
  padding-top: 3%;
  padding-right: 1%;
}
.containerTextMap {
  display: flex;
  position: absolute;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 15%;
  height: 13%;
  background: rgba(255, 255, 255, 0.69);
  backdrop-filter: blur(9.5px);
  border-radius: 16px;
  top: 350px;
  margin-left: 1%;
}
.atTheMap {
  width: 7%;
  position: absolute;
  margin-top: 3%;
  margin-left: 4%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}
.atTheMap > img {
  padding-top: 5%;
  padding-left: 5%;
}
.containerMiniMap {
  display: flex;
  width: 68%;
}
.m-t {
  margin-top: 10%;
}
.emailContactsPage {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2e3230;
  margin-top: 10px;
}
.containerInstaFaceBook {
  margin-top: 1%;
}
#m-l {
  margin-left: 10px;
  margin-top: 5px;
}
.addressSchool {
  margin-left: 5%;
  margin-right: 2%;
  margin-bottom: 5%;
}
.network {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  margin-left: 5%;
  border-radius: 10px;
  width: 22%;
  height: 10%;
}
.titleContacts {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #363734;
}
.titlePage{
  text-align: center;
  background: #f7f7f7;
  padding-top: 2%;
  padding-bottom: 2%;
}
.titlePageContact {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  padding-top: 2%;
  padding-bottom: 2%;
}
.containerAddress {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background: #ffffff;
}
.address {
  width: 100%;
}
.containerContactsPage {
  background: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2%;
}
.containerNetworks {
  display: flex;
  flex-direction: row;
}
.numberPhoneContacts {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}
.nameNetworks {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-top: 10%;
}
.networksImgs {
  width: 100px;
  height: 40px;
  padding-left: 5%;
  padding-top: 2%;
}
#telegramText {
  color: #34aadf;
  padding-left: 8%;
}
#ViderText {
  color: #9179ee;
  padding-left: 15%;
}
.comtainerGoogleMap {
  margin-top: 3%;
}
@media screen and (max-width: 1100px) {
  .containerTextMap {
    display: flex;
    position: absolute;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 25%;
    height: 13%;
    background: rgba(255, 255, 255, 0.69);
    backdrop-filter: blur(9.5px);
    border-radius: 16px;
    top: 630px;
    margin-left: 1%;
  }
  .containerContactsPage {
    background: #f7f7f7;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-bottom: 2%;
  }
}
@media only screen and (max-width: 600px) {
  .containerTextMap {
    display: flex;
    position: absolute;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 45%;
    height: 13%;
    background: rgba(255, 255, 255, 0.69);
    backdrop-filter: blur(9.5px);
    border-radius: 16px;
    top: 740px;
    margin-left: 1%;
  }
  .containerContactsPage {
    background: #f7f7f7;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .atTheMap {
    width: 27%;
    position: absolute;
    margin-top: 13%;
    margin-left: 5%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 5px;
  }
  .mainMap {
    width: 100%;
    height: 300px;
  }
  .containerNetworks {
    display: flex;
    flex-direction: column;
  }
  .containerNetworks > div {
    margin-top: 3%;
  }
}
/* //// */

/*tablet*/
@media screen and (max-width: 1100px) {
  .mainMap {
    width: 100%;
    height: 100%;
  }
  .nameCompany {
    color: #8db92f;
    font-size: 65px;
    padding-top: 20px;
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
    margin: 0px 0px;
  }
  .btns {
    display: flex;
    flex-direction: column;
  }
  .firstBtn {
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
  .containerCallBack {
    border: none;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 60px;
  }
  .text {
    width: 27%;
    padding-top: 4%;
    padding-right: 0%;
    margin-right: 5%;
    background-color: rgb(155, 206, 104);
    border-radius: 0px 21px 21px 0px;
  }
  .containerBtnCallBack {
    margin-left: 37%;
    height: 50px;
  }
  .containerImgHeader {
    background-color: rgb(155, 206, 104);
    padding-top: 5px;
    width: 53px;
    border-radius: 20px 0px 0px 20px;
  }
}

/*//phone*/
@media only screen and (max-width: 600px) {
  .text {
    display: block;
    width: 200px;
    padding-top: 6%;
    padding-right: 5%;
    background-color: rgb(155, 206, 104);
    border-radius: 0px 21px 21px 0px;
  }
  .containerSelectLanguageHeader {
    position: absolute;
    top: 5px;
    left: 80%;
    display: flex;
    justify-content: end;
    border: none;
  }
}
/* ///Footer */
.Footer {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
}
.creativeSpan {
  color: #bcbcbc;
  font-size: 10px;
  text-align: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexRow > a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bcbcbc;
  text-decoration-line: underline;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 25%;
}
.dataCreated {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bcbcbc;
  margin-top: 10px;
  text-align: center;
}
.headerLink {
  text-decoration: none;
  color: rgba(16, 16, 16, 0.8);
}
.titleFooter {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  color: #8db92f;
  font-family: sans-serif;
  font-style: normal;
  font-size: 40px;
  border: 1.99708px solid #ffffff;
}
.listPagesFooter {
  padding-top: 10px;
  margin-left: 0px;
  list-style-type: none;
}
.listPagesFooter > li {
  padding-top: 5px;
}
.containerListPagesFooter {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  width: 40%;
  margin-left: 10%;
  height: 200px;
}
.emailFooter {
  display: flex;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 13px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3b3b3b;
  padding-left: 25%;
}
.footerNumberPhone {
  padding-top: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #3b3b3b;
  padding-left: 38%;
}
.btnNetWork {
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 38px;
}
.containerFooterLinksNetworks {
  background-color: #fbfbfb;
  margin-top: 20px;
  margin-left: 10%;
}
.itemPagesFooter {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #414141;
}
.buttonsNetwork {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}
.buttonsNetwork button {
  margin-right: 10px;
}

/* ///phone */
@media only screen and (max-width: 600px) {
  .emailFooter {
    padding-right: 45%;
    margin-top: 10px;
  }
  .footerNumberPhone {
    margin-top: 15px;
    padding-left: 15%;
  }
  .containerFooterLinksNetworks {
    margin-top: 15%;
    margin-left: 0%;
  }
  .Footer {
    display: flex;
    flex-direction: column;
  }
  .flexRow > a {
    margin-left: 10%;
  }
  .titleFooter {
    margin-top: 10px;
    margin-left: 30%;
    width: 100px;
    color: #8db92f;
    font-family: "Fredoka";
    font-style: normal;
    font-size: 40px;
    border: 1.99708px solid #ffffff;
  }
  .btnHeader {
    background-color: rgba(215, 254, 175, 0.772);
    border: none;
    height: 50px;
    width: 100%;
  }
  .Header {
    margin-left: -1.5%;
  }
  .nameCompany {
    color: #8db92f;
    font-size: 65px;
    padding-top: 20px;
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
    margin: 0px 0px;
  }
  .btns {
    display: flex;
    flex-direction: column;
  }
  .firstBtn {
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
  .containerCallBack {
    border: none;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
  .text {
    display: block;
    width: 60%;
    background-color: rgb(155, 206, 104);
    border-radius: 0px 21px 21px 0px;
  }
  .containerBtnCallBack {
    margin-left: 10%;
  }
  .containerListPagesFooter {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 0%;
  }
}

/* ///tablets */
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .btnHeader {
    background-color: rgba(215, 254, 175, 0.772);
    border: none;
    height: 50px;
    width: 100%;
  }
  .Header {
    margin-left: 0%;
  }
  .nameCompany {
    color: #8db92f;
    font-size: 65px;
    padding-top: 20px;
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
    margin: 0px 0px;
  }
  .btns {
    display: flex;
    flex-direction: column;
  }
  .Footer {
    display: flex;
    flex-direction: row;
  }
  .flexRow > a {
    margin-left: 10%;
  }
  .titleFooter {
    margin-top: 10px;
    margin-left: 1%;
    width: 100px;
    color: #8db92f;
    font-family: "Fredoka";
    font-style: normal;
    font-size: 40px;
    border: 1.99708px solid #ffffff;
  }
  .containerFooterLinksNetworks {
    margin-top: 20px;
    margin-left: 0%;
  }
  .containerListPagesFooter {
    width: 40%;
    margin-left: 5%;
    height: 200px;
  }

  .flexRow > a {
    margin-left: 20%;
  }
  .containerFooterLinksNetworks {
    margin-top: 20px;
    margin-right: 5%;
  }
}

/* ///// page PriceCourses */
.containerPriceCoursesPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #f7f7f7;
}
.nameCourse {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #363734;
}
.tablePriceText {
  height: 40px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #676767;
}
.tablePriceLink {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #7cb92f;
}
.containerCardImgCountry  {
  position: relative; /*Parent MUST be relative*/
  z-index: 9;
  background: #ffffff;
  width:100%;
  height:68px;
  }
  .containerCardImgCountry:before {
  content: "";
  position: absolute;/*set 'child' to be absolute*/
  z-index: -1; /*Make this lower so text appears in front*/
  top: 0; 
  right:0;
  bottom: 60%;
  left: 0;
  background: #F7F7F7;
  }
.cardImgCountry {
  width: 70px;
  height: 48px;
  border-radius: 10px;
}
.cardPrice {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border-radius: 14px;
  width: 34%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.t-align-r {
  text-align: end;
}
.t-align-s {
  text-align: start;
}
.tablePriceCourse {
  border-collapse: collapse;
}
.tableRow {
  border-top: 1px solid #dedede;
}
.linkPriceTable {
  text-decoration: underline dotted #7cb92f;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #7cb92f;
}
.containerInputsSingUpCourse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btnSingUpCourse {
  width: 35%;
  border: none;
  background: linear-gradient(180deg, #a6e25a 0%, #7cb92f 100%);
  border-radius: 13px;
  height: 40px;
  padding-left: 2%;
  color: white;
  margin-top: 2%;

}
.spanPrivacyPolicy{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #B6B6B6;
}
.containerCheckBox {
  padding-left: 7%;
  width: 85%;
  margin-top: 2%;
}
#linkPrivacyPolicy {
  color: #7cb92f;
}
#checkPrivacyPolicy {
  background: #ffffff;
  border-radius: 4px;
  border: none;
}
.inputsFormSingUpCourse {
  margin-top: 2%;
  width: 33%;
  border: none;
  background: #f3f3f3;
  border-radius: 13px;
  height: 40px;
  padding-left: 2%;
}
.inputsClient {
  width: 25%;
  border: none;
  background: #f3f3f3;
  border-radius: 13px;
  height: 40px;
  padding-left: 2%;
}
.textLabelForm {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #676767;
}
.textQuestions {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #363734;
}
.titleSignUp {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  text-align: center;
  color: #7cb92f;
}
@media only screen and (max-width: 600px) {
  .containerPriceCoursesPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #f7f7f7;
  }
  .cardPrice {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
    border-radius: 14px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

/* /// post  */
.imgNetworks {
  width: 10px;
  height: 11px;
}
.btnImgNetworks {
  border: none;
  background-color: #ffffff;
}
.containerBtnsNetworks >*{ 
  margin-left: 10px;
  }
.mainTitlePost {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  color: #2e3230;
}
.textEndThePost {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: #464646;
}
.containerRecommendedPosts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 70%;
  margin-bottom: 3%;
}
.listRecommendedPosts {
  display: flex;
  flex-direction: row;
}
.titleRecommendedPosts {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  color: #2e3230;
}
.endThePost {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 15%;
}
.imgPost {
  width: 70%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.positionMailFlag {
  position: absolute;
  top: 30%;
  left: 20%;
}
.descriptionPathBlog {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #848987;
}
.mailPageText {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.titlePost {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #2e3230;
}
.conteinetPost {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 66%;
  margin-top: 5px;
}
.imgScan{
  width: 12px;
  height: 10px;
  padding-top: 17px;
  padding-right: 5px;
}
.containerCreatedInfoPost{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.amoundScan{
  display: flex;
  flex-direction: row;
}
.scans{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #a3abb0;
}
.containerInfoAboutPost{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}
.greenTextColor{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757676;
}