.textPrivacyPolicy{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #383838;
}
.containerPrivacyPolicy{
    margin: 10px;
}